.DialogOverlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    inset: 0;
    animation: overlayShow 150ms ease-in-out;
}

.DialogContent {
    background-color: #202024;   
    position: absolute;
    top: 0;
    right: 0;
    width: min(100%, 48rem);
    height: 100vh;
    padding: 7.2rem 4.8rem;
    animation: contentShow 0.3s;
    
}

@keyframes contentShow {
    from {
      opacity: 0;
      transform: translateX(150%);
    }
    to {
      opacity: 1;
      transform: translate(0%);
    }
  }

.IconButton {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    border: 0;
    background: transparent;
    color: #8D8D99;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}
.IconButton svg {
  transition: transform 0.3s;
}
.IconButton:hover svg{
  transition: transform 0.3s;
  transform: scale(1.2);
}


.ContainerMenu {
    background-color: gray;
}


@keyframes overlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
