.DialogOverlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    inset: 0;
    animation: overlayShow 150ms ease-in-out;
}

.DialogContent {
    background-color: #202024;   
    position: absolute;
    top: 0;
    right: 0;
    width: min(100%, 48rem);
    height: 100vh;
    padding: 7.2rem 4.8rem;
    animation: contentShow 0.4s;
    
}


@keyframes contentShow {
    from {
      opacity: 0;
      transform: translateX(150%);
    }
    to {
      opacity: 1;
      transform: translate(0%);
    }
  }

.IconButton {
    position: absolute;
    top: 2.4rem;
    right: 2.4rem;
    border: 0;
    background: transparent;
    color: #8D8D99;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}
.IconButton svg {
  transition: transform 0.3s;
}
.IconButton:hover svg{
  transition: transform 0.3s;
  transform: scale(1.2);
}


.ContainerMenu {
  
    height: 100%;
    display: flex;
    flex-direction: column;
}
.DialogTitle {
  color: rgba(225, 225, 230, 1);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
}
.SelectCard {
  display: grid;
  gap: 2.4rem;
}
.CardItem {
  display: flex;
  gap: 2rem;
}

.CardInfo {
  margin-top: auto;

}

.CardInfo div:first-child {
  margin-bottom: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  
}

.price {
  font-size: 2.4rem;
  line-height: 140%;
}

.CardInfo div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.cardTitle h1{
  font-size: 1.8rem;
  color: #C4C4CC;
  font-weight: normal;
  line-height: 160%;
  margin-bottom: 0.2rem;
}
.cardTitle strong {
  color: #E1E1E6;
  font-size: 1.8rem;
  line-height: 160%;
  margin-bottom: 0.8rem;
  display: block;
}
.cardTitle strong span {
  color: #00875F;
  font-size: 1.4rem;
}
.cardTitle button {
  border: 0;
  background: 0;
  color: #00875F;
  font-weight: bold;
  transition: color 0.3s;
  cursor: pointer;


}
.cardTitle button:hover {
  color: #00b37e;
}

.CardImg {
  border-radius: 8px;
  height: 9.3rem;
  width: 10rem;
  overflow: hidden;
  background: linear-gradient(180deg, #1ea483 0%, #7465d4 100%);
}

.CardImg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.ButtonFinish {
  background-color: #00875F;
  padding: 2rem 3.2rem;
  margin-top: 5.5rem;
  border-radius: 0.8rem;
  color: #FFFFFF;
  font-size: 1.8rem;
  border: 0;
  font-weight: 700;
  line-height: 160%;
  cursor: pointer;
  transition: background 0.3s;
}
.ButtonFinish:not(:disabled):hover {
  background: #00b37e;
}

.ButtonFinish:disabled {
opacity: 0.7;
cursor: not-allowed;
}

.CartEmpty h1{
  font-size: 2rem;
  color: rgb(161, 42, 42);
}
.CartEmpty div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 2rem auto 4rem;
}

@keyframes overlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
